<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="static/data.css">

    <script src="script.js" defer></script>
    
    <title>Health Tracker</title>
</head>
<body>
    <div class="heart-rete_box">
        <i class="fas fa-heart icon"></i>
        <div id="HeartRate" class="point1">connecting...</div> 
    </div>
    <div class="step_box">
        <i class="fas fa-person-walking walker icon">connecting...</i>
        <div id="Step" class="point2"></div> 
    </div>

</body>
</html>
